*.aux
*.bbl
*.blg
*.brf
*.log
*.toc
*.out
*.cb
*.cb2
*.upa
stan-reference/stan-reference.pdf
stan-reference/stan-functions.txt
stan-reference/stan-reference-highlighted.pdf
stan-reference/_minted-stan-reference-highlighted/
