# /
/demo
/models
/test
/*.dSYM
/bin

# precompiled model header
/src/stan/model/model_header.hpp.*ch

# other binary
*.o
*.exe

# /doc/
/doc/api
/doc/*.pdf

# temporary files
*~

# depedencies files
*.d
.Rproj.user
stan.Rproj
.kdev4/
stan.kdev4

# model files
src/test/gm/model_specs/*.cpp