# /
/demo
/models
/test
/*.dSYM
/bin

# precompiled model header
/src/stan/model/model_header.hpp.*ch

# other binary
*.o
*.exe

# /doc/
/doc/api
/doc/*.pdf

# temporary files
*~
*.idx
*.ilg
*.ind

# depedencies files
*.d
*.hpp.d.*
.Rproj.user
stan.Rproj
.kdev4/
stan.kdev4
.Rapp.history

# tests: compiled models
src/test/gm/model_specs/compiled/*
!src/test/gm/model_specs/compiled/*.stan
!src/test/gm/model_specs/compiled/.gitignore

# tests: generated agrad tests
src/test/agrad/distributions/univariate/continuous/*_generated_test.cpp
src/test/agrad/distributions/univariate/discrete/*_generated_test.cpp
src/test/agrad/distributions/multivariate/continuous/*_generated_test.cpp
src/test/agrad/distributions/multivariate/discrete/*_generated_test.cpp

# For the Mac
*.DS_Store
