
.serif {
  font-family: "Lucida Bright", Palatino, "Book Antiqua", georgia, serif;
}
.sans-serif {
  font-family: Gill Sans, Calibri, Verdana, sans-serif;
}
.monospace {
  font-family: "Lucida Console", Consolas, "Liberation Mono", Menlo, Monaco, Courier, monospace;
}

p.caption {
  color: #888;
  margin-top: 10px;
  font-style: italic;
  font-size: 80%;
  text-align: left;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.header-section-number {
  font-weight: bold;
  margin-right: 0.25em;
}
.header-section-number::after {
  content: ".";
  font-weight: bold;
}
.chapter a b {
  font-weight: bold;
  margin-right: 0.15em
}
.chapter a b::after {
  content: ". ";
}
.book .book-body .page-wrapper .page-inner section.normal {
    font-family: "Lucida Bright", Palatino, serif;
    font-weight: normal;
    color: #000;
}

.book .book-body .page-wrapper .page-inner section.normal em {
  font-style: italic;
  font-weight: normal;
  margin-right: 0.25em;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-style: normal;
  font-weight: bold;
}

div .definition {
  font-style: italic;
  font-weight: normal;
}
div .definition strong {
  font-style: normal;
  font-weight: normal;
}
div .definition em {
  font-style: normal;
  font-weight: normal;
}

div .example {
  font-style: normal;
  font-weight: normal;
  margin-left: 2em;
}
div .example strong {
  font-style: italic;
  font-weight: normal;
}
div .example em {
  font-style: italic;
  font-weight: normal;
}
.example .example strong {
  font-style: italic;
  margin-left: -2em;
}
.book .book-body .body-inner .page-wrapper .page-inner section div div div div.example {
  font-size: 100%;
}
.book .book-body .body-inner.page-wrapper .page-inner section div div div.example {
  font-size: 100%;
}

.book .book-body .page-wrapper .page-inner section.normal h1 {
  font-size: 175%;
  font-weight: bold;
  margin: 1em 0 0.5em 0;
}
.book .book-body .page-wrapper .page-inner section.normal h2 {
  font-size: 120%;
  font-weight: bold;
  font-style: normal;
  margin: 1.5em 0 0.35em 0;
}
.book .book-body .page-wrapper .page-inner section.normal h3 {
  font-size: 100%;
  font-weight: bold;
  font-style: normal;
  margin: 1.25em 0 0.35em 0;
}
.book .book-body .page-wrapper .page-inner section.normal h4 {
  font-size: 100%;
  font-weight: normal;
  font-style: oblique;
  margin: 1.25em 0 0 0;
}

.book .book-header h1 {
  opacity: 1;
  text-align: center;
}

#header .title {
  margin-bottom: -0.6em;
  font-size: 250%;
  font-weight: bold;
  line-height: 1.1;
}
#header h4.author {
  font-size: 175%;
  margin-bottom: -0.75em;
}
#header h4.author em {
    font-style: normal;
}
#header h4.author strong {
    font-style: normal;
}
#header h4.date {
  font-size: 150%;
  margin-bottom: 3em;
}
#header h4.date em {
    font-style: normal;
}
#header h4.date strong {
    font-style: normal;
}
