useDynLib(rstan)
# exportPattern("^[[:alpha:]]+")

# importFrom("graphics", plot)
importFrom("stats4", summary, plot)
# importFrom("Matrix", summary, print)

export(
  stan_model,
  stanc, 
  stan_version, 
  stan,
  stan_rdump,
  read_rdump,
  makeconf_path,
  set_cppo, get_cppo, 
  stan_demo, 
  sflist2stanfit,
  read_stan_csv,
  monitor,
  rstan_options 
# get_rstan.options
)

exportClasses(
  stanmodel, stanfit 
) 
exportMethods(
#   print, plot, 
#   extract, 
  optimizing,
  get_cppcode, get_cxxflags, # for stanmodel 
  show, sampling, summary, extract,
  traceplot, plot, get_stancode, get_inits, get_seed, get_cppo_mode,
  log_prob, grad_log_prob, 
  transform_pars, constrain_pars, get_num_upars,
  get_seeds,
  get_adaptation_info,
  get_sampler_params,
  get_logposterior, 
  get_posterior_mean,
  get_stanmodel 
)
S3method(print, stanfit)
S3method(as.array, stanfit)
S3method(as.matrix, stanfit)
S3method(as.data.frame, stanfit)
S3method(is.array, stanfit)
S3method(dim, stanfit)
S3method(dimnames, stanfit)
import(Rcpp)
