useDynLib(rstan)
# exportPattern("^[[:alpha:]]+")

importFrom("graphics", plot)
importFrom("Matrix", summary)

export (
  stan.model,
# stan.samples,
  stanc, 
  stanc.version, 
  stan,
  stan.dump,
  rstan.options 
# get.rstan.options
)

exportClasses (
  stanmodel, stanfit 
) 
exportMethods (
#   print, plot, 
#   extract, 
  show, sampling, summary, print, extract, 
  traceplot, plot, stan.code, get.inits, get.seed
)
import(Rcpp)
