* {
  padding: 0;
  margin: 0;
  font-family: georgia, palatino, "times new roman", times;
}
body { 
  font-size: 1em;   
  width: 40em;
  margin: 1em 2em 1em 2em;
  background-color: #F8F8F8;
}
p {
  margin: 0.5em 0 0.5em 0;  
  width: 40em;
  line-height: 1.35em;
}
hr {
    background-color: #606060;
}
h1 {
  font-size: 200%;   
  color: #606060;
}
h2 {  
  font-size: 125%;  
  margin: 1em 0 0.5em 0;
  color: #606060;
}
h3 {  
  font-size: 100%;  
  margin: 1em 0 0.5em 0;
  color: #606060;
}
h4 {  
  font-size: 100%;  
  font-style: italic;
  margin: 1em 0 0.5em 0;
  color: #606060;
}
ul {
    margin: 0.5em 1.5em 0.5em 1.5em;
}
li {
  margin: 0em 0 0.5em 0;
  line-height: 1.35em;
}
tt {  
    font-family: "lucida console", menlo, monaco, "courier new", courier,  monospace;
    font-size: 85%;   
}
* td {
    font-weight: normal;
    padding: 0em 0.25em 0.5em 0.25em;
    text-align: left;
}



pre {
}
pre { 
  font-family: "lucida console", menlo, monaco, "courier new", courier,  monospace;
  font-size: .75em;
  padding: 0.5em 1.5ex;
  margin: 0.85em 2ex .85em 1.5ex;
  color: black;
  background-color: #F0F0F0;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  overflow: auto;
  clip: auto;
  line-height: 130%;
}
div#foot {
  clear: both;  
  width: 95%;
  display: inline;
}
div#foot p { 
  float: right;
  padding: 0em 1.5% 1.5em 0;
  text-align: right;
  font-size: .70em;
  color: #999;
}

